@tailwind base;
@tailwind components;
@tailwind utilities;

.portada {
  background-image: url(./assets/img/header.webp);
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  width: 100%;
  position: relative;
}

.portada::after {
  content: "Ventas de Casas y Departamentos";
  bottom: 120px;
}

.portada::before {
  content: "Exclusivos de Lujo";
  bottom: 40px;
}

.portada::after,
.portada::before {
  color: white;
  position: absolute;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .portada::before {
    bottom: 40px;
  }

  .portada::after,
  .portada::before {
    font-size: 3rem;
    left: 142.72px;
  }
}

.portada2 {
  background-image: url(./assets/img/encuentra.webp);
  background-position: center center;
  background-size: cover;
  min-height: 450px;
  width: 100%;
}

.testi {
  padding-left: 5rem;
  position: relative;
}

.testi::before {
  content: "";
  background-image: url(./assets/img/comilla.svg);
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  display: block;
  position: absolute;
  left: 0rem;
  top: 0.5rem;
}

.linea__verde {
  position: relative;
  display: inline-block;
}

.linea__verde::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 20%;
  height: 5px;
  background-color: #a3e635;
}

.login__background {
  background-image: url(./assets/img/header.webp);
  background-position: center center;
  background-size: cover;
}